DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=sanat_galerisi
JWT_SECRET=buraya-cok-guclu-bir-key-yaziniz 
(bende:JWT_SECRET=761f5c6ea52fb75f9c374b94ea877cd981ee5bee32f1925f28d3ee367daa8b1450b256b31e93c04c585d1393bd746112eb7fc89a8659d3a744a9a4cda328e6e9) 
ALLOWED_ORIGINS=http://localhost:xxxx(ekleyin hangi hostu kullanıyorsanız)bende : ALLOWED_ORIGINS=http://localhost:5500
